<html>
        <head>
        <title>{% block title %}
               {% endblock %}
        </title>
        <meta charset = "utf-8">
        <style>
            #one{background:aqua;}
            #two{background:lime;}
        </style>
        {% block refresh %}
        {% endblock %}
        </refresh>
        </head>

        <body>
            Это главный шаблон\
            (base.html)
        <hr>
        Тут текст из другого шаблона
        {% block content %}
        {% endblock %}
        <hr>
        текст в конце(base.html)
        </body>
</html>